.movie .c-container {
    display: flex;
}
.movie .c-row {
    display: flex;
    flex-wrap: wrap;
}

.movie .c-card {
    width: 15%;
    margin: 0.5em;
    /* border: 1px solid red; */
    text-align: center;
}

.movie .c-col {
    padding: 0.5em;
    display: flex;
}

.movie .c-img {
    height: 225px;
    border-radius: 5px;
    width: 150px;
}

.movie .c-text-content {
    word-break: break-all;
    /* width: 300px; */
    display: flex;
    position: relative;
    flex-direction: column;
}

.movie .c-vote {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    right: 0%;
    top: -44px;
    justify-content: center;
    color: silver;
    border: 1px solid green;
    background-color: black;
    height: 3em;
    width: 3em;
}

.movie .movie-space {
    height: 36.5rem;
    overflow-y: scroll;
}
