.movie .c-container {
    display: flex;
    flex: 1;
}
.movie .c-row {
    display: flex;
    flex-wrap: wrap;
}

.movie .c-card {
    margin: 0.5em;
    /* border: 1px solid red; */
    text-align: left;
}

.movie .c-col {
    padding: 0.5em;
    display: flex;
}

.movie .c-img {
    height: 225px;
    border-radius: 5px;
    width: 150px;
}

.movie .c-text-content {
    display: flex;
    margin-top: 1em;
    position: relative;
    flex-direction: column;
}

.movie .c-vote {
    position: absolute;
    height: 2.4em;
    width: 2.4em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0%;
    top: -100%;
    border: 1px solid green;
    background-color: black;
    color: silver;
}

.movie .c-movie-title {
    width: 150px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movie .movie-space {
    height: 36.5rem;
    overflow-y: scroll;
}
